.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f6f9;
  }
  .login-tittle {
    padding: 15px;
  }
  .login-form {
    background-color: #ffffff;
    padding: 2rem 2.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    background-color: #4f8ed1;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #3a75b1;
  }
  
  .login-form p {
    color: red;
    text-align: center;
    margin-top: 1rem;
    font-size: 14px;
  }
  